/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* Aumenta a altura dos cards da galeria */
.gallery-box.style5 .gallery-img {
  height: 460px;
}

@media (max-width: 991px) {
  .gallery-box.style5 .gallery-img {
    height: 340px;
  }
}

